<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- shop -->
      {% for block in section.blocks %}
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img
              src="{{ block.settings.image_1 | img_url: 'master' }}"
              class=""
              alt=""
              width="1200"
              height="1200"
            >
            {% comment %} <img src="https://cdn.shopify.com/s/files/1/0600/6495/6518/files/shop01.png?v=1723008990" alt=""> {% endcomment %}
          </div>
          <div class="shop-body">
            <h3>
              Laptop<br>
              Collection
            </h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="https://cdn.shopify.com/s/files/1/0600/6495/6518/files/shop03.png?v=1723008990" alt="">
          </div>
          <div class="shop-body">
            <h3>
              Accessories<br>
              Collection
            </h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->

      <!-- shop -->
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="https://cdn.shopify.com/s/files/1/0600/6495/6518/files/shop02.png?v=1723008990" alt="">
          </div>
          <div class="shop-body">
            <h3>
              Cameras<br>
              Collection
            </h3>
            <a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <!-- /shop -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

{% schema %}
{
  "name": "Hero Section",
  "enabled_on": {
    "templates": ["index"]
  },
  "blocks": [
    {
      "type": "hero_section",
      "name": "Select Image",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "product_collection",
          "label": "Product Collection"
        },
        {
          "type": "text",
          "id": "title_1",
          "label": "Hero Title 1"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
{% endschema %}